data/raw/sg_all.npy
data/raw/sg_all.npy:Zone.Identifier
data/
best_model_checkpoint.pth
checkpoints/
__pycache__/
.gitignore
runs*/
temp_dataset.pth
test/
seeds/
*.pth
gumbeldiff_overfit_model.pth
*.png
cred*
*.pdf
*.pth
*.mp4
